@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#body {
    width: 1100px;
    margin: auto;
    background:rgb(8, 7, 7);
    background-repeat: no-repeat;
    color: white;
    font-family: "Inter", sans-serif;
    
    

}
.nav-main{

    display: flex;
    width: 1080px;
    margin: auto;
    justify-content: space-between;
    
    
    


}

.nav-font{
    font-style: italic;
    color: rgb(230, 83, 60);
}

.nav-ul{
    display: flex;
    border: 1px solid #797777;
    justify-items: center;
    justify-content: space-around;
    width: 500px;
    height: 22px;
    padding: 5px;
    list-style-type: none;
    border-radius: 40px;
    
}
.nav-home{
    background-color: rgb(230, 83, 60) ;
    width: 59px;
    height: 22px;

    text-align: center;
    border-radius: 13px;

}

.nav-li{

    text-decoration: none;
    color: white;
    
    
}

/* Banner Section */

.banner-main{

    background:linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);

    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: relative;

}

.banner-text{
    
    width:500px;
    
    
}

.banner-h2{

color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3.8rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 50%;
text-align: left;
margin-bottom: -1px;

}

.banner-span{
    font-family: "Dancing Script", cursive;
    font-size: 105px;
    font-weight: 400;
}


.p-text-1{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 0.5px;
   margin-bottom: 50px;}
.p-text{
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 100;
line-height: 24px;
letter-spacing: 0.5px;


}

.banner-btn-1{


width: 170px;

display: flex;

justify-content: center;
align-items: flex-start;
padding: 16px 40px 16px 40px;
text-align: center;
background-color: rgb(230, 83, 60);
border: none;
color: white;
border-radius: 40px;
}


.banner-btn-2{

    width: 170px;

display: flex;

justify-content: center;
align-items: flex-start;
padding: 16px 40px 16px 40px;
text-align: center;
background-color: transparent;
border: 1px solid rgb(112, 111, 111);
border-radius: 40px;
color: white;

}


.banner-btn-container{

    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.banner-img{
width: 300px;


}

.banner-img-div{

    width: 500px;
    margin-right: -90px;
}


.banner-500{
    height: 80px;
    width: 200px;
    line-height: 5px;

    box-sizing: border-box;
 border: 1px solid rgba(255, 255, 255, 0.1);
 border-radius: 12px;

 
 background: rgba(255, 255, 255, 0.1);
 text-align: center;
 justify-items: center;
 justify-content: center;

 position: absolute;
 z-index: 10;
 bottom: 280px;
 right: 60px;
}


.banner-350{

    height: 80px;
    width: 200px;
    line-height: 5px;

    box-sizing: border-box;
 border: 1px solid rgba(255, 255, 255, 0.1);
 border-radius: 12px;

 background: rgba(255, 255, 255, 0.1);
 text-align: center;
 justify-items: center;
 justify-content: center;
 display: flex;
justify-items: center;
position: absolute;
z-index: 10;
bottom: 60px;
right: 400px;
}

.circle-div{

    height: 40px;
    width:40px;
    border-radius: 100px;
    background-color: rgb(230, 83, 60);
    align-items: center;
    text-align: center;
    margin-top: 17px;
    margin-right: 17px;
}


/* Habit Section */

.habit-section{

    width: 1100px;
    margin: auto;
    height: 490px;
}


.habit-text{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;

}


.habit-picture{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-top: 50px;
    
    
}

.habit-picure-selected{

    border:1px solid white;
    border-radius: 100px;
    color: rgb(255, 255, 255);

}



/* Run Section */

.run-section{
display: flex;
width: 1100px;
margin: auto;
height: 300px;
border-radius: 18px;
background: rgb(34, 34, 34);
align-items: center;
justify-items: center;




}


.run-text{

    margin-left: 35px;

}
.run-image{
margin-right: 35px;
width: 265px;
height: 230px;
object-fit: cover;
object-position: center;
border-radius: 15px;
background-size: cover;



}


/* Team Section */

.team-image-section{
    
    margin: auto;
    width: 1100px;
    height: 600px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    align-items: center;
    justify-content: space-between;
    justify-items: center;
    
    

}


.team-images{

 width: 344px;
height: 279px;
border: 1px solid rgb(102, 102, 102);
border-radius: 20px;
align-items: center;
justify-content: space-between;
justify-items: center;


}


.team-image-info{
    position: relative;

}
    
.team-image-text{

    position: absolute;
    bottom: 15px;
    left: 10px;
}


.team-text-section{

text-align: center;
justify-content: center;
margin-top: 35px;

}

.team-text{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
}


.team-image-name{

height: 9px;

}


/* Calculator */


.calc-heading{
 text-align: center;


}


.calc-main{

height: 480px;
background: rgba(255, 255, 255, 0.1);




}










/* Footerrrrrrrr part */


.footer-main{

margin: auto;
height: 300px;
background: rgb(34, 34, 34);
margin-top: 60px;
border-radius: 15px;





}

.fotter-flex{
    
    
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 50;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    
    


}


.footer-main-div{

    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    gap: 100px;
    margin-bottom: 40px;
    




    
}

.footer-side-text{

    margin-left: 40px;
}

.get-started-div{
justify-content: center;
text-align: center;
justify-items: center;
margin-right: 40px;
gap: 40px;

}



.footer-bottom-text{
text-align: center;
align-items: center;
margin-top: 60px;



}

.border-top-1{

position: absolute;
width: 990px;
height: 0;
border: 0.5px solid rgb(85, 85, 85);
margin: auto;
justify-content: center;
justify-items: center;
margin-left: 60px;

}




/* Responsive Website */
@media  screen and (max-width:576px) {
 

    /* Banner section Responsive */
 .banner-main,  .nav-main  {
    flex-direction: column;
    width: auto;
    
    
}

.banner-main{
    height: auto;
}
.banner-text{
    
    
 }
.banner-h2{

    width: auto;
    
}
    .banner-btn-container{
        
    }


 .nav-ul{

    display: none;
    
 }

 
 .banner-350, .banner-500{
    display:none
 }

.banner-main{

    
    
}



/* Habit Section Responsive */



.habit-picture{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    text-align: left;
    


}

.habit-text{
    text-align: left;
    justify-content: start;
    justify-items: left;
}
}